## Exercise 1: Import and Inspect Data

- Import pandas and numpy.
-     Load the "tips" dataset from seaborn (sns.load_dataset('tips')) and store it in a variable called tips.
-     Print the first 5 rows of the dataset using the head() function.
-    Display the summary statistics of the dataset using the describe() function.

In [3]:
import seaborn as sns
import pandas as pd
import numpy as np

tips = sns.load_dataset('tips')

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

## Exercise 2: Filtering and Sorting

-    Filter the dataset to only include rows where the total bill is greater than $20.
-    Sort the filtered dataset by the tip amount in descending order.
-    Reset the index of the sorted dataset.

## Exercise 3: Grouping and Aggregation

-    Group the dataset by the "day" column and calculate the average total bill for each day.
-    Find the day with the highest average total bill.

## Exercise 4: Merging Data

-   Load the "flights" dataset from seaborn (sns.load_dataset('flights')) and store it in a variable called flights.
-    Filter the flights dataset to only include rows where the year is 1950.
-    Merge the filtered flights dataset with the tips dataset on the "month" column (use the "month" column from flights and "day" column from tips). Note that you may need to rename the column in either dataset for merging.
-    Calculate the average tip amount for each month in the merged dataset.

In [10]:
flights = sns.load_dataset('flights')
flights_1950 = flights[flights['year'] == 1950]
flights_1950.head()

    year month  passengers
12  1950   Jan         115
13  1950   Feb         126
14  1950   Mar         141
15  1950   Apr         135
16  1950   May         125

## Exercise 5: Handling Missing Data

-    Introduce some missing values into the tips dataset by randomly replacing 5% of the "total_bill" values with NaN (use numpy.nan and numpy.random.choice()).
-    Calculate the number of missing values in the "total_bill" column.
-    Fill the missing values with the mean of the "total_bill" column.

## Exercise 6: Data Transformation

-    Create a new column "tip_percentage" in the tips dataset, which represents the tip amount as a percentage of the total bill.
-    Create another new column "tip_category" by categorizing the "tip_percentage" column into "low", "medium", and "high" based on the 33rd and 66th percentiles of the "tip_percentage" column.

## Exercise 7: Time Series Analysis

-    Load the "fmri" dataset from seaborn (sns.load_dataset('fmri')) and store it in a variable called fmri.
-    Convert the "timepoint" column to a datetime object using pandas.to_datetime().
-    Set the "timepoint" column as the index of the dataset.
-    Resample the dataset to calculate the mean signal value for each subject at a 5-timepoint rolling window.

## Exercise 8: Basic Statistical Analysis

-    Calculate the correlation between the "total_bill" and "tip" columns in the tips dataset using numpy's numpy.corrcoef().
-    Perform a t-test on the "total_bill" values for lunch and dinner in the tips dataset using scipy's scipy.stats.ttest_ind().

## Exercise 9: Multi-Index Manipulation

-    Load the "titanic" dataset from seaborn (sns.load_dataset('titanic')) and store it in a variable called titanic.
-    Group the dataset by the "class" and "embark_town" columns and calculate the average age for each group.
-    Convert the resulting DataFrame into a multi-index format.
- Use the .xs() function to extract the average age of passengers who embarked at "Southampton" across all classes.

##     Exercise 10: Pivot Tables and Heatmaps

-    Create a pivot table using the titanic dataset with "class" as the index, "embark_town" as the columns, and the average fare as the values.
-    Use seaborn's sns.heatmap() function to visualize the pivot table as a heatmap. Customize the appearance of the heatmap (e.g., use a different colormap, add annotations, etc.).

##     Exercise 11: Data Reshaping

-    Load the "iris" dataset from seaborn (sns.load_dataset('iris')) and store it in a variable called iris.
-    Reshape the iris dataset using pandas' melt() function to create a long-form dataset with columns "variable" (feature name), "value" (feature value), and "species".
-    Create a boxplot using seaborn's sns.boxplot() function to visualize the distribution of each feature across the different iris species.

##     Exercise 12: Linear Regression and Model Evaluation

-    Load the "diamonds" dataset from seaborn (sns.load_dataset('diamonds')) and store it in a variable called diamonds.
-    Create a new column "price_per_carat" by dividing the "price" column by the "carat" column.
-    Split the dataset into a training set (80%) and a testing set (20%).
-    Fit a linear regression model using the training set to predict "price_per_carat" based on "carat", "depth", "table", "x", "y", "z", and "clarity" (use pandas' get_dummies() function to convert the "clarity" column into dummy variables).
-    Calculate the mean squared error (MSE) and R-squared score of the model on both the training and testing sets.

 ##   Exercise 13: Principal Component Analysis (PCA)

-    Use the iris dataset from Exercise 11.
-    Standardize the feature columns (i.e., "sepal_length", "sepal_width", "petal_length", and "petal_width") using sklearn's StandardScaler.
-    Perform PCA using sklearn's PCA module to reduce the dimensionality of the standardized feature columns to 2 principal components.
-    Create a scatter plot using seaborn's sns.scatterplot() function to visualize the two principal components, colored by the "species" column.

##    Exercise 14: K-Means Clustering

-    Use the iris dataset from Exercise 11.
-    Perform K-Means clustering on the standardized feature columns from - - Exercise 13 using sklearn's KMeans module with 3 clusters.
-     Create a scatter plot using seaborn's sns.scatterplot() function to - visualize the two principal components from Exercise 13, colored by the assigned cluster labels.
-     Compare the clustering results to the true iris species labels.

##         Exercise 16: String Manipulation

-    Load the "titanic" dataset from seaborn (sns.load_dataset('titanic')) and store it in a variable called titanic.
-    Extract the title (e.g., Mr., Mrs., Miss., etc.) from the "name" column and store it in a new column called "title".
-    Calculate the frequency of each title in the dataset.
-    Replace rare titles with the string "Other" and update the "title" column.
-    Create a bar plot using seaborn's sns.countplot() function to visualize the frequency of each title.

##     Exercise 17: Date-Time Manipulation

-    Create a pandas DataFrame with the columns "date" and "value", where "date" contains daily dates for the years 2020-2022, and "value" contains random integers between 1 and 100.
-    Convert the "date" column to a datetime object using pandas.to_datetime().
-    Set the "date" column as the index of the DataFrame.
-    Calculate the monthly average of the "value" column.
-    Calculate the rolling 7-day average of the "value" column.
-    Create a line plot using seaborn's sns.lineplot() function to visualize the original "value" column, the monthly average, and the 7-day rolling average.

##     Exercise 18: Regular Expressions

-    Load the "titanic" dataset from seaborn (sns.load_dataset('titanic')) and store it in a variable called titanic.
-    Use regular expressions to extract the cabin letter (e.g., 'A', 'B', 'C', etc.) from the "cabin" column and store it in a new column called "cabin_letter".
-    Calculate the frequency of each cabin letter in the dataset.
-    Create a bar plot using seaborn's sns.countplot() function to visualize the frequency of each cabin letter.

##     Exercise 19: Time Zones and Daylight Saving Time

-    Create a pandas DataFrame with the columns "date" and "value", where "date" contains hourly timestamps for the years 2020-2022, and "value" contains random integers between 1 and 100.
-    Convert the "date" column to a datetime object using pandas.to_datetime().
-    Set the "date" column as the index of the DataFrame.
-    Localize the "date" index to the "UTC" time zone using the tz_localize() method.
-    Convert the "date" index to the "America/New_York" time zone using the tz_convert() method.
-    Determine the start and end dates of Daylight Saving Time for each year in the dataset.
-    Calculate the average "value" for each hour of the day during Daylight Saving Time.

##     Exercise 20: Date Difference and Age Calculation

-    Load the "titanic" dataset from seaborn (sns.load_dataset('titanic')) and store it in a variable called titanic.
-    Assume the Titanic sank on April 15, 1912. Create a new column "birthdate" by subtracting the "age" column from the sinking date.
-    Calculate the age in years of each passenger at the time of sinking by finding the difference between their "birthdate" and the sinking date, and then dividing by the number of days in a year (365.25).
-    Compare the calculated age with the original "age" column and calculate the mean absolute error.

##     Exercise 21: Custom Date Formatting

-    Create a pandas DataFrame with the columns "date" and "value", where "date" contains daily dates for the years 2020-2022 in the format 'YYYY-MM-DD', and "value" contains random integers between 1 and 100.
-    Convert the "date" column to a datetime object using pandas.to_datetime() with the appropriate format string.
-    Set the "date" column as the index of the DataFrame.
-    Create a new column "formatted_date" containing the "date" column values formatted as 'Month DD, YYYY' (e.g., 'January 01, 2020') using the strftime() method.

##     Exercise 22: Period and Frequency Conversion

 -   Create a pandas DataFrame with the columns "date" and "value", where "date" contains hourly timestamps for the years 2020-2022, and "value" contains random integers between 1 and 100.
-    Convert the "date" column to a datetime object using pandas.to_datetime().
-    Set the "date" column as the index of the DataFrame.
-    Convert the DateTimeIndex to a PeriodIndex with a daily frequency using the to_period() method.
-    Resample the DataFrame to a lower frequency (e.g., weekly) and calculate the sum of the "value" column for each new period.

##     Exercise 23: Holidays and Business Days

-    Create a pandas DataFrame with the columns "date" and "value", where "date" contains daily dates for the years 2020-2022, and "value" contains random integers between 1 and 100.
-    Convert the "date" column to a datetime object using pandas.to_datetime().
-    Set the "date" column as the index of the DataFrame.
-    Create a new column "is_holiday" indicating whether the corresponding "date" is a US federal holiday using the pandas.tseries.holiday.USFederalHolidayCalendar() class.
-    Create another new column "is_business_day" indicating whether the corresponding "date" is a business day using the pandas.offsets.BDay() class.

##     Exercise 24: Lag and Lead Functions

-    Load the "flights" dataset from seaborn (sns.load_dataset('flights')) and store it in a variable called flights.
-    Convert the dataset into a time series format with the "year" and "month" columns combined into a single datetime column.
-    Set the new datetime column as the index of the DataFrame.
-    Calculate the 1-month lag and lead of the "passengers" column using the shift() method.
-    Calculate the month-over-month growth rate of the "passengers" column by dividing the lead column by the lag column.

##     Exercise 25: Rolling Window Functions with Custom Functions

-    Load the "flights" dataset from seaborn (sns.load_dataset('flights')) and store it in a variable called flights.
-    Convert the dataset into a time series format with the "year" and "month" columns combined into a single datetime column.
-    Set the new datetime column as the index of the DataFrame.
-    Create a custom function to calculate the median absolute deviation (MAD) of a given series.
-    Apply the custom MAD function to a rolling window of the "passengers" column with a window size of 12 months using the rolling() method and the apply() method.

##     Exercise 26: Load and Inspect NumPy Array

-    Load the "iris" dataset from seaborn (sns.load_dataset('iris')) and store it in a variable called iris.
-    Convert the iris DataFrame to a NumPy array (excluding the "species" column) using the values attribute.
-    Print the shape and dtype of the NumPy array.
-    Calculate the mean, median, and standard deviation of each feature in the array using NumPy functions.

##     Exercise 27: Array Filtering and Sorting

-    Use the iris NumPy array from Exercise 26.
-    Filter the array to only include rows where the sepal length (first column) is greater than 5.5.
-    Sort the filtered array by the petal length (third column) in ascending order using NumPy's argsort() function.

##     Exercise 28: Array Broadcasting and Arithmetic

-    Use the iris NumPy array from Exercise 26.
-    Calculate the difference between the sepal length (first column) and sepal width (second column) for each row, and store the result in a new array.
-    Calculate the sum of the petal length (third column) and petal width (fourth column) for each row, and store the result in another new array.
-    Stack the two new arrays horizontally using NumPy's hstack() function to create a new 2D array with shape (150, 2).

##     Exercise 29: Array Aggregation and Grouping

-    Load the "tips" dataset from seaborn (sns.load_dataset('tips')) and store it in a variable called tips.
-    Convert the "total_bill", "tip", and "size" columns of the tips DataFrame to a NumPy array using the values attribute.
-    Create a dictionary to map each day of the week in the "day" column of the tips DataFrame to an integer (e.g., {'Thur': 0, 'Fri': 1, 'Sat': 2, 'Sun': 3}).
-    Use the dictionary to create a NumPy array of integer labels corresponding to the "day" column of the tips DataFrame.
-    Use NumPy's unique() function to find the unique integer labels.
-    For each unique label, calculate the mean "total_bill", "tip", and "size" using NumPy's boolean indexing and aggregation functions.

##     Exercise 30: Array Reshaping and Concatenation

-    Load the "flights" dataset from seaborn (sns.load_dataset('flights')) and store it in a variable called flights.
-    Convert the "passengers" column of the flights DataFrame to a NumPy array using the values attribute.
-    Reshape the "passengers" array to a 2D array with shape (12, 12) where each row corresponds to a year (1949-1960) and each column corresponds to a month (January-December) using NumPy's reshape() function.
-    Calculate the row-wise mean (average number of passengers per year) and column-wise mean (average number of passengers per month) using NumPy's mean() function with the axis parameter.
-    Concatenate the row-wise mean and column-wise mean arrays into a single 2D array with shape (13, 13) using NumPy's concatenate() function.

##     Exercise 31: Scatter Plot with Regression Line

-    Load the "tips" dataset from seaborn (sns.load_dataset('tips')) and store it in a variable called tips.
-    Create a scatter plot using seaborn's sns.scatterplot() function to visualize the relationship between "total_bill" and "tip".
-    Add a regression line to the scatter plot using seaborn's sns.regplot() function with the scatter=False parameter to show the linear relationship between "total_bill" and "tip".

##     Exercise 32: Histogram and Kernel Density Estimate

-    Load the "diamonds" dataset from seaborn (sns.load_dataset('diamonds')) and store it in a variable called diamonds.
-    Create a histogram using seaborn's sns.histplot() function to visualize the distribution of the "carat" column.
-    Add a kernel density estimate (KDE) to the histogram using seaborn's sns.kdeplot() function to show the estimated probability density function of the "carat" column.

##     Exercise 33: Box Plot and Violin Plot

-    Load the "titanic" dataset from seaborn (sns.load_dataset('titanic')) and store it in a variable called titanic.
-    Create a box plot using seaborn's sns.boxplot() function to visualize the distribution of the "age" column across different "class" categories.
-    Create a violin plot using seaborn's sns.violinplot() function to visualize the distribution of the "age" column across different "class" categories.

##     Exercise 34: Pair Plot and Correlations

-    Load the "iris" dataset from seaborn (sns.load_dataset('iris')) and store it in a variable called iris.
-    Create a pair plot using seaborn's sns.pairplot() function to visualize the pairwise relationships between all feature columns in the iris dataset.
-    Calculate the Pearson correlation coefficients between all feature columns using pandas' corr() method.
-    Visualize the correlation matrix as a heatmap using seaborn's sns.heatmap() function.

##     Exercise 35: Facet Grid with Multiple Plots

-    Load the "flights" dataset from seaborn (sns.load_dataset('flights')) and store it in a variable called flights.
-    Convert the "passengers" column to a z-score using the scipy.stats.zscore() function.
-    Create a new column "outlier" in the flights DataFrame indicating whether the z-score of the "passengers" column is greater than 2 or less than -2.
-    Create a FacetGrid using seaborn's sns.FacetGrid() function with the "year" as the row variable and "outlier" as the column variable.
-    Map the sns.barplot() function to the FacetGrid to create bar plots of the "month" versus "passengers" for each facet.

##     Exercise 36: Regression Line with Confidence Interval

-    Load the "tips" dataset from seaborn (sns.load_dataset('tips')) and store it in a variable called tips.
-    Create a scatter plot using seaborn's sns.scatterplot() function to visualize the relationship between "total_bill" and "tip".
-    Add a regression line with a 95% confidence interval to the scatter plot using seaborn's sns.regplot() function.

##     Exercise 37: ROC Curve and AUC Score

-    Load the "titanic" dataset from seaborn (sns.load_dataset('titanic')) and store it in a variable called titanic.
-    Prepare the dataset for a binary classification task by selecting relevant features and preprocessing the data.
-    Split the dataset into a training set and a testing set using train_test_split() function from sklearn.model_selection.
-    Train a logistic regression model using LogisticRegression class from sklearn.linear_model on the training set.
-    Use the trained model to predict the probability of survival for the samples in the testing set.
-    Calculate the true positive rate (TPR) and false positive rate (FPR) for various threshold values using roc_curve() function from sklearn.metrics.
-    Calculate the area under the ROC curve (AUC) using roc_auc_score() function from sklearn.metrics.
-    Plot the ROC curve (TPR vs FPR) using matplotlib's plt.plot() function and display the AUC score in the plot's title.

##     Exercise 38: Confusion Matrix and Classification Report

-    Use the logistic regression model and predictions from Exercise 37.
-    Calculate the confusion matrix using confusion_matrix() function from sklearn.metrics.
-    Visualize the confusion matrix as a heatmap using seaborn's sns.heatmap() function with appropriate annotations.
-    Calculate precision, recall, and F1-score for the binary classification task using classification_report() function from sklearn.metrics, and print the report.

##     Exercise 39: Residuals Plot for Regression

-    Load the "diamonds" dataset from seaborn (sns.load_dataset('diamonds')) and store it in a variable called diamonds.
-    Prepare the dataset for a regression task by selecting relevant features and preprocessing the data.
-    Split the dataset into a training set and a testing set using train_test_split() function from sklearn.model_selection.
-    Train a linear regression model using LinearRegression class from sklearn.linear_model on the training set.
-    Use the trained model to predict the price of diamonds in the testing set.
-    Calculate the residuals (difference between the true price and the predicted price) for the samples in the testing set.
-    Create a scatter plot using seaborn's sns.scatterplot() function to - visualize the relationship between the predicted price and the residuals.

##     Exercise 40: Learning Curve for Model Evaluation

-    Use the logistic regression model and titanic dataset from Exercise 37.
-    Calculate the learning curve using the learning_curve() function from sklearn.model_selection with different training set sizes.
-    Plot the learning curve (training set size vs model score) for both training and validation sets using matplotlib's plt.plot() function.
-    Analyze the learning curve to assess the model's performance, potential overfitting or underfitting, and the impact of adding more training samples.

##     Exercise 41: Comprehensive Exploratory Data Analysis

-    Load the "houseprices" dataset from seaborn (sns.load_dataset('houseprices')) and store it in a variable called houseprices.
-    Inspect the dataset using pandas methods such as info(), describe(), and head() to get an overview of the dataset's structure and features.
-    Perform data cleaning and preprocessing by handling missing values, outliers, and data transformation as necessary.
-    Conduct univariate analysis for both continuous and categorical features:
        - For continuous features, create histograms and box plots using seaborn's sns.histplot() and sns.boxplot() functions.
        - For categorical features, create bar plots and count plots using seaborn's sns.barplot() and sns.countplot() functions.
-    Conduct bivariate analysis to investigate relationships between the target variable (e.g., sale price) and each feature:
        - For continuous features, create scatter plots and calculate correlation coefficients using seaborn's sns.scatterplot() function and pandas' corr() method.
        - For categorical features, create box plots and violin plots to visualize the distribution of the target variable across different categories using seaborn's sns.boxplot() and sns.violinplot() functions.
-    Conduct multivariate analysis to investigate relationships between multiple features and the target variable:
        - Create a correlation matrix heatmap using seaborn's sns.heatmap() function to visualize the relationships between all continuous features.
        - Create pair plots and scatter plot matrices using seaborn's sns.pairplot() function to visualize pairwise relationships between a subset of important continuous features and the target variable.
        - Create facet grids and conditioned plots using seaborn's sns.FacetGrid() function to visualize the relationships between a subset of important categorical features, continuous features, and the target variable.
-    Summarize your findings from the EDA and provide recommendations for feature selection and further analysis.